/venv/Lib/site-packages/dotenv/__init__.py
/venv/Lib/site-packages/dotenv/cli.py
/venv/Lib/site-packages/dotenv/compat.py
/venv/Scripts/dotenv.exe
/venv/Lib/site-packages/python_dotenv-0.15.0.dist-info/entry_points.txt
/venv/Lib/site-packages/python_dotenv-0.15.0.dist-info/INSTALLER
/venv/Lib/site-packages/dotenv/ipython.py
/venv/Lib/site-packages/python_dotenv-0.15.0.dist-info/LICENSE
/venv/Lib/site-packages/dotenv/main.py
/venv/Lib/site-packages/python_dotenv-0.15.0.dist-info/METADATA
/venv/Lib/site-packages/dotenv/parser.py
/venv/Lib/site-packages/dotenv/py.typed
/venv/Lib/site-packages/python_dotenv-0.15.0.dist-info/RECORD
/venv/Lib/site-packages/python_dotenv-0.15.0.dist-info/REQUESTED
/venv/Lib/site-packages/python_dotenv-0.15.0.dist-info/top_level.txt
/venv/Lib/site-packages/dotenv/version.py
/venv/Lib/site-packages/python_dotenv-0.15.0.dist-info/WHEEL
/.env