[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord = "*"
youtube-dl = "*"
python-dotenv = "*"
"discord.py" = {extras = ["voice"], version = "*"}
ffmpeg = "*"
ffprobe = "*"
pyglet = "*"
requests = "*"
yt_dlp = "*"

[dev-packages]

[requires]
python_version = "3.9"
