[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
async-timeout = "*"
attrs = "*"
audioread = "*"
colorama = "*"
ctx = "*"
extras = "*"
fixtures = "*"
fuzzywuzzy = "*"
idna = "*"
lettuce = "*"
linecache2 = "*"
mock = "*"
multidict = "*"
pbr = "*"
python-dotenv = "*"
python-mimeparse = "*"
six = "*"
sure = "*"
testtools = "*"
traceback2 = "*"
typing-extensions = "*"
unittest2 = "*"
yarl = "*"
ffmpeg = "*"
discord = "*"
"discord.py" = "*"
youtube_dl = "*"

[dev-packages]

[requires]
python_version = "3.9"
