aiohttp==3.7.3
async-timeout==3.0.1
attrs==20.3.0
audioread==2.1.9
chardet==3.0.4
colorama==0.4.4
ctx==0.1.2
discord.py==1.6.0
extras==1.0.0
fixtures==3.0.0
fuzzywuzzy==0.18.0
idna==3.1
lettuce==0.2.23
linecache2==1.0.0
mock==4.0.3
multidict==5.1.0
pbr==5.5.1
python-dotenv==0.15.0
python-mimeparse==1.6.0
python-subunit==1.4.0
six==1.15.0
sure==1.4.11
testtools==2.4.0
traceback2==1.4.0
typing-extensions==3.7.4.3
unittest2==1.1.0
yarl==1.6.3

